* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#wrapper {
    position: absolute;
    background-color: black;
    background-image: url(pc.png);
    background-size: 1024px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%
}

#console {
  /*background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );*/
  height: 100vh;
  color: lightgreen;
  font: 0.8rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  padding: 30px;
  width: 500px;
  margin-left: 550px;
  margin-top: 150px;
}

#output {
    height: 270px;
    overflow: scroll;
}

#userInput {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}